@model IEnumerable<VeterinaryStation.Models.Pregledi>

@{
    ViewBag.Title = "Index";
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <p>
        @Html.ActionLink("Kreiraj", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DatumPregleda)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DoktorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PacijentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RacuniId)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DatumPregleda)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DoktorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PacijentId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RacuniId)
                </td>
                <td>
                    @Ajax.ActionLink("Izmijeni", "Edit", new { id = item.Id }, new AjaxOptions { UpdateTargetId = "ajaxpozivKorisnici" }, new { @class = "btn btn-default" })

                </td>
            </tr>
        }

    </table>
</body>
</html>

